.matrix-barchart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#matrix {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.column text {
  text-anchor: start;
  font-size: 10px;
}

.row text {
  text-anchor: end;
  font-size: 10px;
}

text.active {
  fill: red;
}


/* barchart css below */
#barchart {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#barchart svg {
  margin: 0;
}

.barchart-background {
  fill: white;
}

text {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}