.visualization-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 81px);
  width: 100vw;
  position: fixed;
  bottom: 40px;
  left: 0;
  background-image: url('/images/bg2.jpg');
  background-repeat: no-repeat;
  background-position: top left; 
  background-size: cover;
  overflow: hidden;
}

.visualization-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #323232;
  width: 100%;
  position: absolute;
  background-color: #323232;
  z-index: 1;
}

.visualization-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 14px;
  color: #7d7d7d;
  box-sizing: content-box;
}

.visualization-title h1 {
  cursor: default;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  font-size: 30px;
  color: #323232;
  text-shadow: 0 2px 5px #fff;
  background-color: transparent;
  word-wrap: break-word;
  text-align: center;
}

.visualization-buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.visualization-header button {
  margin: 0px 5px 0px 5px;
  font-size: 13px;
  padding: 5px 15px;
}

.visualization-header button:hover {
  background-color: #4c4f62;
  border-radius: 2px;
  transition: 0.5s;
  height: 100%;
  color: #fff;
  border-left: 1px solid #323232;
  border-right: 1px solid #323232;
}

#visualization {
  height: calc(100vh - 92px);
  opacity: 1;
}

#visualization svg {
  display:flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

line {
  fill: none;
  stroke: #585858;
  stroke-width: 1.5px;
  opacity: 0.3;
}
.visualization-container text {
  cursor: pointer;
  text-anchor: middle;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  border: 1px solid #3182bd;
  text-shadow: 1px 1px white;
}

.navigation-tips {
  margin: 10px 10px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 140px;
  font-size: 12px;
  font-family: 'Lora', serif;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  box-shadow: 0 2px 5px rgba(0,0,0,0.8);
  border-radius: 2px;
}

.navigation-tips h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 13px;
  text-decoration: underline;
  cursor: default;
}

.navigation-tips label {
  margin: 15px 0;
  cursor: default;
}

.navigation-tips p {
  padding: 5px 0 5px 5px;
  cursor: default;
}

@media all and (max-width: 480px) {
  .visualization-header-container {
    top: 36px;
  }
  
  .visualization-header button {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    padding: 2px 5px;
  }

  .visualization-container {
    height: calc(100vh - 94px);
  }
}
  