.selected {
  background-color: #4c4f62;
  border-radius: 2px;
  transition: 0.5s;
  height: 100%;
  color: #fff;
}

.App-Content {
  height: 100vh;
  display: block;
  height: 100%;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  background-color: #323232;
  z-index: 1;
  height: 41px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  font-size: 14px;
}

.header img {
  height: 24px;
  width: 184px;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: content-box;
  height: 100%;
  margin: 5px 10px;
  box-sizing: border-box;
}

.header a:first-of-type {
  display: flex;
  align-items: center;
  margin: 0 0;
  font-size: 14px;
  text-align: center;
  padding: 0 15px;
  margin-left: 0;
}

.header a {
  display: flex;
  align-items: center;
  margin: 7px 0;
  font-size: 14px;
  text-align: center;
  padding: 0 15px;
  color: #7d7d7d;
}

#matrix-page, #force-page {
  color: whitesmoke;
}

.header a:hover {
  background-color: #4c4f62;
  border-radius: 2px;
  transition: 0.5s;
  height: 100%;
  color: #fff;
  border-left: 1px solid #323232;
  border-right: 1px solid #323232;
}

.header span {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff;
}

@media all and (max-width: 800px) {
  #my-links {
    display: none;
  }

  .header div {
    justify-content: space-between;
    width: 100%;
  }

  .header a:first-of-type {
    margin: 7px 0px;
    padding: 0 10px;
  }

  .header a {
    margin: 7px 0px;
    padding: 0 10px;
  }

  .header img {
    height: 17px;
    width: 130px;
  }
}

@media all and (max-width: 480px) {
  .header a:first-of-type {
    font-size: 11px;
  }

  .header a {
    font-size: 11px;
  }

  .header img {
    height: 12px;
    width: 92px;
  }

  .header-container {
    height: 36px;
  }
}