.matrix-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  background-image: url('/images/bg1.png');
  background-repeat: no-repeat;
  background-position: top left; 
  background-size: cover;
  overflow: hidden;
  height: calc(100vh - 40px);
}

.matrix-header-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #323232;
  width: 100%;
  position: fixed;
  top: 40px;
  background-color: #323232;
  z-index: 1;
}

.matrix-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-size: 14px;
  color: #7d7d7d;
  padding: 0 10px;
}

#matrix label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  padding: 15px 0;
}

.matrix-header button:first-of-type {
  margin-left: 1px;
  padding: 12px 15px;
  font-size: 13px;
}

.matrix-header button {
  padding: 12px 15px;
  font-size: 13px;
}

.matrix-header button:hover {
  background-color: #4c4f62;
  border-radius: 2px;
  transition: 0.5s;
  height: 100%;
  color: #fff;
  border-left: 1px solid #323232;
  border-right: 1px solid #323232;
}

.matrix-barchart {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: left;
  padding: 15px;
  margin-top: 83px;
}

#matrix {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.column text {
  text-anchor: start;
  font-size: 10px;
}

.row text {
  text-anchor: end;
  font-size: 10px;
}

text.active {
  fill: red;
}


/* barchart css below */
#barchart {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#barchart label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  padding: 15px 0;
}

#barchart svg {
  margin: 0;
}

.barchart-background {
  fill: whitesmoke;
}

text {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

@media all and (max-width: 480px) {
  .matrix-header-container {
    top: 36px;
  }

  .matrix-header button {
    font-size: 10px;
  }

  .matrix-header button:first-of-type {
    font-size: 10px;
  }
}