.hidden {
  display: none;
}

.bg1 {
  transition: 0.5s;
  background-image: url('/images/bg1.png');
}

.bg3 {
  transition: 2s;
  background-image: url('/images/bg3.jpg');
}

.matrix-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: top left; 
  background-size: cover;
  overflow: hidden;
  height: calc(100vh - 40px);
}

.matrix-header-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #323232;
  width: 100%;
  position: fixed;
  top: 40px;
  background-color: #323232;
  z-index: 1;
}

.matrix-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-size: 14px;
  color: #7d7d7d;
  padding: 0 10px;
}

#matrix label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  padding: 15px 0;
}

.matrix-header button:first-of-type {
  margin-left: 1px;
  padding: 12px 15px;
  font-size: 13px;
}

.matrix-header button {
  padding: 12px 15px;
  font-size: 13px;
}

.matrix-header button:hover {
  background-color: #4c4f62;
  border-radius: 2px;
  transition: 0.5s;
  height: 100%;
  color: #fff;
  border-left: 1px solid #323232;
  border-right: 1px solid #323232;
}

.matrix-barchart-container {
  display: flex;
  flex-direction: column;
  margin-top: 83px;
}

.matrix-barchart-container h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 2px 5px #323232;
  background-color: transparent;
  word-wrap: break-word;
  text-align: center;
}

.matrix-barchart {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  padding-bottom: 40px;
}

.matrix-barchart svg {
  margin: 0 20px 0px 20px;
}

#matrix {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.column text {
  text-anchor: start;
  font-size: 10px;
}

.row text {
  text-anchor: end;
  font-size: 10px;
}

text.active {
  fill: white;
  text-shadow: 0 2px 5px #323232;
  font-size: 13px;
}


/* barchart css below */
#barchart {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#barchart label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  text-shadow: 0 2px 5px #323232;
  padding: 15px 0;
  word-wrap: break-word;
  align-content: center;
}

.barchart-background {
  fill: transparent;
}

text {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

/* matrix explanation */
#matrix-explanation {
  width: calc(100vw / 3);
  height: calc(100vh - 240px);
}

#matrix-explanation h2 {
  margin: 15px auto;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 2px 5px #323232;
  background-color: transparent;
  word-wrap: break-word;
  text-align: center;
}

.matrix-explanation-body {
  padding: 10px;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

.matrix-explanation-body p{
  margin: 10px;
}

.matrix-explanation-body-container {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 480px) {
  .matrix-barchart {
    flex-direction: column;
  }

  #matrix-explanation {
    width: 90vw;
    height: 100%;
  }

  .matrix-header-container {
    top: 36px;
  }

  .matrix-header button {
    font-size: 10px;
  }

  .matrix-header button:first-of-type {
    font-size: 10px;
  }

  .matrix-barchart svg {
    margin: 0 0;
  }
}